apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ .ControlPlaneIP }}"
  bindPort: 6443
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: "{{ .BootstrapToken }}"
  ttl: 24h0m0s
  usages:
  - signing
  - authentication
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"
  imagePullPolicy: IfNotPresent
  kubeletExtraArgs:
    # Cloud Provider External
    cloud-provider: "external"
skipPhases:
- preflight
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: "{{ .KubernetesVersion }}"
controlPlaneEndpoint: "{{ .ControlPlaneEndpoint }}"
apiServer:
  certSANs:
  - "{{ .ControlPlaneIP }}"
  - localhost
  - 127.0.0.1
  extraArgs:
    runtime-config: "{{ .RuntimeConfig }}"
controllerManager:
  extraArgs:
    cloud-provider: "external"
scheduler:
  extraArgs:
networking:
  dnsDomain: cluster.local
  podSubnet: "{{ .PodSubnet }}"
  serviceSubnet: "{{ .ServiceSubnet }}"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ .ControlPlaneEndpoint }}"
    token: "{{ .BootstrapToken }}"
    caCertHashes:
    - "{{ .DiscoveryTokenCaCertHash }}"
nodeRegistration:
  kubeletExtraArgs:
    # Cloud Provider External
    cloud-provider: "external"
skipPhases:
- preflight
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
conntrack:
  maxPerCore: 0
iptables:
  minSyncPeriod: 1s
kind: KubeProxyConfiguration
mode: nftables
---
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd
failSwapOn: false
kind: KubeletConfiguration
