apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ .ControlPlaneEndpoint }}"
    token: "{{ .BootstrapToken }}"
    caCertHashes:
    - "{{ .DiscoveryTokenCaCertHash }}"
nodeRegistration:
  kubeletExtraArgs:
    node-labels: "node-role.kubernetes.io/control-plane="
    # Cloud Provider External
    cloud-provider: "external"
  taints:
  - key: "node-role.kubernetes.io/control-plane"
    effect: "NoSchedule"
